<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="refresh" content="30" />
    <meta
      name="google-signin-client_id"
      content="724621884932-hmo39oeradt2v751tnf16secsvdsa5i2.apps.googleusercontent.com"
    />
    <title>Document</title>
    <style>
      #list {
        margin: 50px 0;
      }

      li {
        list-style: none;
        display: none;
      }

      li:first-child {
        display: block;
        text-align: center;
        font-size: 70px;
      }

      input {
        display: block;
        background-color: lightgreen;
        height: 70px;
        width: 140px;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        font-size: 25px;
        margin: 0 auto;
      }
    </style>
  </head>

  <body>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <ul id="list">
      <li><%=name%></li>
    </ul>
    <form action="/newReviewer" onsubmit="disable()" method=" POST">
      <input type="submit" value="Next" />
    </form>
  </body>
  <script>
    function disable() {
      document.querySelector("input").setAttribute("disabled", "disabled");
    }
  </script>
</html>
